{% extends 'core/base.html' %}

{% load static %}

{% block title %}Crear SKU{% endblock %}

{% block content %}
<script src="{% static 'core/js/popup/popup.js' %}"></script>

<!-- Mensaje que desaparece después de 10 segundos -->
<div id="procedimientoDiv">
  <section class="page-section cta">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <div class="cta-inner text-center rounded">
          <span class="section-heading-upper">Recuerda comprobar si anteriormente esta registrado el SKU</span>
        </div>
      </div>
    </div>
  </section>
</div>

<section class="page-section cta">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <div class="cta-inner text-center rounded">
          <h2 class="section-heading mb-5">
            <span class="section-heading-upper">Ingresa los Datos</span>
          </h2>
          <div class="row mb-5">
            <div class="col-md-6">
              <form id="skuForm" method="post" action="{% url 'create_sku' %}">
                {% csrf_token %}
                <div class="form-group">
                  <label for="marca">Marca:</label>
                  <input type="text" class="form-control" id="marca" name="marca" required>
                </div>

                <div class="form-group">
                  <label for="nombre">Nombre:</label>
                  <input type="text" class="form-control" id="nombre" name="nombre" required>
                </div>
                <div class="form-group">
                  <label for="categoria">Categoría:</label>
                  <input type="text" class="form-control" id="categoria" name="categoria" required>
                </div>
                <div class="form-group">
                  <label>Selecciona una opción:</label>
                  <br>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="opcionUnidades" name="opcionUnidades" value="unidades">
                    <label class="form-check-label" for="opcionUnidades">Valor en UNI</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="opcionPeso" name="opcionPeso" value="peso">
                    <label class="form-check-label" for="opcionPeso">Valor en KG</label>
                  </div>
                  <label>Ingresa el Valor:</label>
                  <input type="number" class="form-control" id="unikg" name="unikg" required placeholder="Ingresa el valor numérico" min="1" oninput="validarNumero(this)">
                </div>
                <button type="button" class="btn btn-primary" id="btn-generar" onclick="validarFormulario()">GENERAR</button>
              </form>
            </div>
            <div class="col-md-6">
              <label for="skugen">SKU GENERADO</label>
              <input type="text" class="form-control" id="skugen" name="skugen" value="{{ sku }}" required readonly>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}