{% extends 'core/base.html' %}

{% load static %}

{% block title %}Inicio{% endblock %}

{% block content %}

<!-- Cabecera -->
<section class="page-section clearfix">
</section>

<!-- Mensaje -->
<section class="page-section cta">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <div class="cta-inner text-center rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-upper">¡Bienvenido al portal exclusivo para los trabajadores de MrHaze!</span>
            <span class="section-heading-lower"></span>
          </h2>
          <p class="mb-0">En este espacio dedicado a los empleados de Mr. Haze. Cuentan con acceso para trabajar con todo lo relacionado a la gestión de los SKU de nuestra marca. </p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}